/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    height:100%;
    margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
