.product-card {
  max-width:2200px;
  min-height: 250px;
  margin: 1rem 0.5rem 0;
  font-family: Georgia, serif;
}
.spacer{
  height: 20px;
  line-height: 0;
}
.product-header-image {
  background-size: cover;
}
product-price{
  position: absolute;
  bottom: 0;

}

.product-left{
  width: 50%;
  float:left;
}

.product-right{
  width:50%;
  float: right;
 
}

.product-image{
  margin: 10px 40px 10px;
  max-height:200px;
  max-width: 120px;
  
}

.product-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px 2px 2px 2px;
  margin: 15px 70px 
}
img {
  border-radius: 5px;
  box-shadow:  1px 1px #fff;
 
}
.card-image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-image-wrapper {
  padding: 0.1rem;
  max-width: 50%;
}
img {
  width: 100%;
}
.product-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.button-upvote {
  background-color: #00c6fb;
  margin: 0 10px !important;
}
.solved {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.solved > p {
  margin: 10px 0;
}

@media only screen and (min-width: 650px) {
  .product-card {
    width: 500px;
  }
}
