<mat-card class="product-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="product-header-image" [ngStyle]="{'background-image': 'url('+ product.createdBy.avatar + ')'}"></div> -->
    <div mat-card-avatar class="product-header-image">
      <img ngxGravatar class="product-header-image" [email]="currentCustomer.email" size="40">
    </div>
    <mat-card-title>{{currentCustomer.name}}</mat-card-title>
    <mat-card-subtitle>{{product.postedDate | date: 'short'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <b>{{product.name}}</b>
    <p> {{product.description}} </p>
  </mat-card-content>
  <div class="card-image-list">
    <div class="card-image-wrapper" >
      <img src="http://pluspng.com/img-png/iphone-6s-logo-vector-png-apple-iphone-6s-logo-vector-200.png">
    </div>
  </div>
  <mat-list>

  </mat-list>
  <mat-card-actions class="product-actions">
    <!--matBadgePosition="after" matBadgeColor="accent" matBadge="{{product.wish.length}}"-->
    <button class="button-wish" mat-raised-button color="accent"
      (click)="hasWished()? unwish() : wish()">
      Wish
    </button>
    <!--*ngIf="!product.solved && product.createdBy.customername === currentCustomer.customername"-->
    <button class="button-buy" mat-raised-button color="primary"
      (click)="buy()">
      Buy
    </button>
    <!--span style="flex:1 1 auto"></span>
    <span class="solved" *ngIf="product.solved">
      <mat-icon>done</mat-icon>
      <p>Solved</p>
    </span-->
  </mat-card-actions>
</mat-card>
