<mat-card class="product-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="product-header-image" [ngStyle]="{'background-image': 'url('+ product.createdBy.avatar + ')'}"></div> -->
    <div mat-card-avatar class="product-header-image">
      <img ngxGravatar class="product-header-image" [email]="product.createdBy.email" size="40">
    </div>
    <mat-card-title>{{product.createdBy.name}}</mat-card-title>
    <mat-card-subtitle>{{product.createdAt | date: 'medium'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p> {{product.description}} </p>
  </mat-card-content>
  <div class="card-image-list">
    <div class="card-image-wrapper" *ngFor="let image of product.images">
      <img src="{{image}}">
    </div>
  </div>
  <mat-list>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>City: <b> {{product.city}} </b></mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list>
  <mat-card-actions class="product-actions">
    <button class="button-upvote" mat-raised-button matBadge="{{product.upvote.length}}" matBadgePosition="after" matBadgeColor="accent"
      (click)="hasUpvoted()? downvote() : upvote()">
      Wish
    </button>
    <!--button class="button-solve" mat-raised-button (click)="solve()"
      *ngIf="!product.solved && product.createdBy.username === currentUser.username">
      SOLVE
    </button>
    <span style="flex:1 1 auto"></span>
    <span class="solved" *ngIf="product.solved">
      <mat-icon>done</mat-icon>
      <p>Solved</p>
    </span-->
  </mat-card-actions>
</mat-card>
