<mat-card class="product-card">
  <div class="product-left">
  <mat-card-header>
    <!-- <div mat-card-avatar class="product-header-image" [ngStyle]="{'background-image': 'url('+ product.createdBy.avatar + ')'}"></div> -->
    <div mat-card-avatar class="product-header-image">
      <img ngxGravatar class="product-header-image" [email]="'hasanammar94@gmail.com'" size="40">
    </div>
    <mat-card-title>{{product.name}}</mat-card-title>
    <!--mat-card-subtitle>{{product.createdAt | date: 'medium'}}</mat-card-subtitle-->
  </mat-card-header>
  <mat-card-content>
    <div class="spacer"></div>
    <p> {{product.description}} </p>
  </mat-card-content>
  <!--div class="card-image-list">
    <div class="card-image-wrapper" *ngFor="let image of product.images">
      
    </div>
  </div-->
  
  <mat-list>

  </mat-list>
  <div class="product-price"><strong>Price:</strong> {{product.price}}</div>
  <mat-card-actions class="product-actions">
    <!--button class="button-upvote" mat-raised-button matBadge="{{product.upvote.length}}" matBadgePosition="after" matBadgeColor="accent"
      (click)="hasUpvoted()? downvote() : upvote()">
      Wish
    </button>
    <button class="button-solve" mat-raised-button (click)="solve()"
      *ngIf="!product.solved && product.createdBy.customername === currentCustomer.customername">
      SOLVE
    </button>
    <span style="flex:1 1 auto"></span>
    <span class="solved" *ngIf="product.solved">
      <mat-icon>done</mat-icon>
      <p>Solved</p>
    </span-->
  </mat-card-actions>
</div>
<div class="product-right">
 
<div class="product-image">
  <img src="http://pluspng.com/img-png/iphone-6s-logo-vector-png-apple-iphone-6s-logo-vector-200.png">
  <!--<img src="{{product.image}}">-->
</div>   
    
<button class="product-button">Buy</button>
</div>
</mat-card>
