.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
@media(min-width:760px){
 .sidenav{
  /*  display: none; */
 } 
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color:white
}

.mat-toolbar input{
  display: inline;
}

.mat-toolbar .mat-icon{
  display: inline-block;
}

mat-card{
  margin: 8px;
}
